header{
  margin: 12px;
  padding: 12px;
}

.main-nav{
  display: flex;
  gap: 10px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-item a{
  text-decoration: none;
  padding: 8px;
  color: black;
}

.nav-item a:hover{
  background-color: pink;
  border-radius: 8px;
  color: white;
}

.nav-item a:active{
  background-color: plum;
  color: blanchedalmond;
}