*{
  margin: 0;
  padding: 0;
}

.main-title{
  border: 1px solid;
  border-radius: 8px;
  text-align: center;
  background-color: plum;
  width: 20%;
  padding: 24px;
  margin: 0 auto;
  margin-top: 24px;
  position: relative;
  top: 24px;
}

.main-content{
  border: 1px solid;
  border-radius: 8px;
  width: 40%;
  padding: 30px 20px 20px 20px;
  margin: 0 auto;
  background-color: #BDBAC6;
  color: white;
}